
.main {
  min-height: 100vh;
  color: white;
  background-image: url("https://st.depositphotos.com/2051065/2011/i/450/depositphotos_20111859-stock-photo-backgrounds.jpg");
  background-position-x: center;
  background-position-y: 100%;
}
.main h1{
  width: 30%;
  margin: auto;
  background-color: rgba(2, 1, 3, 0.527);
  border-radius: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  justify-content: center;
}
.main form{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: rgb(245, 237, 252);
  margin-bottom: 50px;
}
.containerImages{
  width: 300px;
  display:inline-flex;
  margin: 1rem;
  margin-left: 5rem;
  background-color: rgba(2, 1, 3, 0.774);
  margin-bottom: 1em;
  max-width: 20rem;
  min-width: 20rem;
  border: 0.1vh rgba(165, 10, 255, 0.897) solid;
  border-radius: 1em;
  box-shadow: 2px 1px 1px 1px;
}
.containerImages p{
  width: 100%;
  height: 20px;
  color: rgb(249, 243, 255);
  text-align: center;
  padding: 1em;
}
.containerImages button{
  width: 5rem;
  height: 30px;
  border: 2em;
  position:absolute;
  margin-top: 9rem;
  margin-left: 1rem;
  background-color: rgba(255, 255, 255, 0.733);
  color: blueviolet;
  border: 1px rgb(128, 6, 241) solid;
  border-radius: 1em;
}
.containerImages button:hover{
  cursor: pointer;
 
}
.images{
  max-width: 10rem;
  border-radius: 1em;
  margin-left: 0.5rem;
  height: 200px;
}